/* Global ============================================== */

:root {
  --header-background: #2d4a22;
  --dark-blue: #363f5f;
  --primary-color: #49aa26;
  --light-primary-color: #3dd705;
  --income-value-color: #12a454;
  --expense-value-color: #e92929;
  --body-background-color: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-background-color);
}

.container {
  width: min(80vw, 700px);
  margin: auto;
}

/* Header ============================================== */

header {
  background-color: var(--header-background);
  padding: 2.5rem 2.5rem 8rem;
  text-align: center;
}

/* Balance ============================================== */

.balance {
  margin-top: -5rem;
}

/* Card ============================================== */

.card {
  background-color: #fff;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  color: var(--dark-blue);
}

.card.total {
  background-color: var(--primary-color);
  color: #fff;
}

.card h2 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.5rem;
}

/* Footer ============================================== */
footer {
  text-align: center;
  padding: 2.5rem 0;
  color: var(--dark-blue);
  opacity: 0.75;
}
