/* Global ============================================== */

:root {
  --header-background: #2d4a22;
  --dark-blue: #363f5f;
  --primary-color: #49aa26;
  --light-primary-color: #3dd705;
  --income-value-color: #12a454;
  --expense-value-color: #e92929;
  --body-background-color: #f0f2f5;
}

html {
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-background-color);
}

.container {
  width: min(80vw, 800px);
  margin: auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.add {
  color: var(--primary-color);
  margin-bottom: 0.8rem;
}

button.add:hover {
  color: var(--light-primary-color);
}

button.cancel,
button.submit {
  padding: 1rem 0;
}

button.cancel {
  color: var(--expense-value-color);
  border: 1px solid var(--expense-value-color);
  opacity: 0.7;
}

button.cancel:hover {
  opacity: 1;
}

button.submit {
  color: white;
  background-color: var(--primary-color);
}

button.submit:hover {
  background-color: var(--light-primary-color);
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-blue);
}

/* Header ============================================== */

header {
  background-color: var(--header-background);
  padding: 2.5rem 2.5rem 8rem;
  text-align: center;
}

/* Balance ============================================== */

.balance {
  margin-top: -5rem;
}

/* Card ============================================== */

.card {
  background-color: #fff;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  color: var(--dark-blue);
}

.card.total {
  background-color: var(--primary-color);
  color: #fff;
}

.card.card.total h2 {
  color: inherit;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.5rem;
}

/* Table ============================================== */
.transactions {
  overflow-x: auto;
  display: block;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0 1rem;
  text-align: left;
  color: var(--dark-blue);
}

table th:first-child,
table td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table th:last-child,
table td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th,
table td {
  background-color: #fff;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: 0.8;
}

table tbody tr:hover {
  opacity: 1;
}

table .income {
  color: var(--income-value-color);
}

table .expense {
  color: var(--expense-value-color);
}

table .date {
  font-weight: 300;
}

table td img {
  cursor: pointer;
}

/* Footer ============================================== */
footer {
  text-align: center;
  padding: 2.5rem 0;
  color: var(--dark-blue);
  opacity: 0.75;
}

/* Modal ============================================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-overlay.active {
  display: flex;
  z-index: 5;
}

.modal-container {
  width: min(80vw, 800px);
  background-color: var(--body-background-color);
  padding: 2.5rem;
  border-radius: 5px;
}

.modal-container h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

/* Form ============================================== */
form .input-group,
form .input-group * {
  width: 100%;
}

form .input-group {
  margin-bottom: 2rem;
}

form input {
  padding: 0.8rem;
  border: none;
  outline-color: var(--dark-blue);
  outline-width: 0.5px;
  border-radius: 5px;
}

form .help {
  opacity: 0.8;
  color: var(--dark-blue);
}

form .actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Media Queries ============================================== */
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }

  .balance {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .balance .card {
    flex: 1;
  }
}
